@charset "UTF-8";
html, body {
  background-color: #eee;
}
img, svg, video {
  max-width: 100%;
  height: auto;
}
.contents pre code, pre code {
  border: none;
  padding: 0;
  margin: 0;
}
/**
 * ライブラリ同士の衝突吸収
 */
p, ul, ol, dl {
  margin: 1em 0;
}
dl dd {
  margin-left: 2em;
}
p, li, dt, dd {
  line-height: 1.6;
}
.btn {
  background-color: #428bca;
}
pre code {
  border: none;
  padding: 0;
  margin: 0;
  display: inline;
}
/**
 * ヘッダー
 */
.theme_header {
  background-color: #00a0e6;
  padding: 1em 0 1px 0;
}
/**
 * メインエリア
 */
.theme_mainblock {
  background-color: #fff;
  padding: 18px 0;
}
/**
 * Site Identity
 */
.theme_si {
  float: left;
}
.theme_si, .theme_si * {
  font-size: xx-large;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1.3;
}
.theme_si *:hover {
  color: #eee;
}
.theme_si:before {
  content: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJwaWNrbGVzMi1sb2dvIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiCgkgeT0iMHB4IiB3aWR0aD0iNDBweCIgaGVpZ2h0PSI0MHB4IiB2aWV3Qm94PSIwIDAgNzAuOCA3MC44IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA3MC44IDcwLjgiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxwYXRoIGZpbGw9IiNmNmY2ZjYiIGQ9Ik0xNywyMy4yYzYuMywwLDkuNCwyLjYsOS40LDcuNGMwLDUuMS0zLjUsOC40LTkuOCw4LjRjLTAuOCwwLTEuOCwwLTIuOC0wLjF2OS4zaC0yLjVWMjMuOAoJCUMxMy40LDIzLjQsMTUuMywyMy4yLDE3LDIzLjJ6IE0yMC44LDM2YzEuOC0wLjgsMy0yLjYsMy01LjFjMC0zLjctMi4zLTUuNC02LjctNS40Yy0xLjEsMC0yLjIsMC4xLTMuMywwLjN2MTEKCQljMC44LDAuMSwxLjcsMC4xLDIuNSwwLjFDMTguMSwzNi44LDE5LjcsMzYuNiwyMC44LDM2eiIvPgoJPHBhdGggZmlsbD0iI2Y2ZjZmNiIgZD0iTTMyLjQsMzEuMWw0LjEsNi40bDAsMGw0LjItNi40SDQzYy0wLjEsMC41LTAuMywxLTAuNywxLjVsLTQuNSw2LjZsNS4xLDcuNWMwLjMsMC41LDAuNiwxLDAuNiwxLjVoLTIuMwoJCWwtNC45LTcuM2wwLDBsLTQuOCw3LjNoLTIuM2MwLTAuNSwwLjMtMSwwLjctMS41bDUtNy42bC00LjQtNi41Yy0wLjMtMC41LTAuNi0xLTAuNy0xLjVIMzIuNHoiLz4KCTxwYXRoIGZpbGw9IiNmNmY2ZjYiIGQ9Ik01My4zLDIzLjJjNC45LDAsNy4yLDMuMyw3LjIsNy4xYzAsNC43LTMuNCw4LjYtNy45LDEzLjFsLTIuNywyLjdoMTFsMC4xLDIuMkg0Ny4xTDQ2LjgsNDZsMy4zLTMuMwoJCWM0LjgtNC44LDcuNy04LjQsNy43LTEyLjJjMC0yLjgtMS41LTUtNC43LTVjLTEuNywwLTMuNCwwLjctNC45LDEuN0w0NywyNS42QzQ4LjcsMjMuOSw1MSwyMy4yLDUzLjMsMjMuMnoiLz4KPC9nPgo8cGF0aCBmaWxsPSIjZjZmNmY2IiBkPSJNMCwwdjcwLjhoNzAuOFYwSDB6IE0yLDY4LjhWMmg2Ni44djY2LjhIMnoiLz4KPC9zdmc+Cg==");
  margin: 0 20px 0 0;
}
/**
 * グローバルメニュー
 */
.theme_globalnavi {
  clear: both;
}
.theme_globalnavi ul {
  margin: 0;
  padding: 0;
}
.theme_globalnavi ul li {
  margin: 0.2em 1px 0 1px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.theme_globalnavi ul li a {
  padding: 0.5em 2em;
  display: block;
  background-color: #f5f5ff;
}
@media (max-width: 580px) {
  .theme_globalnavi {
    display: none;
  }
}
/**
 * ショルダーメニュー
 */
.theme_shouldernavi {
  float: right;
}
.theme_shouldernavi ul {
  margin: 0;
  padding: 0;
}
.theme_shouldernavi ul li {
  margin: 0 1em;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
.theme_shouldernavi ul li a {
  display: block;
  color: #fff;
}
@media (max-width: 580px) {
  .theme_shouldernavi {
    display: none;
  }
}
/**
 * コンテンツエリア
 */
.contents {
  margin-bottom: 3em;
}
/**
 * ナビゲーション
 */
.theme_common_navi {
  margin-bottom: 0.7em;
}
.theme_common_navi a {
  display: block;
  padding: 10px;
  background-color: #eee;
}
.theme_common_navi p {
  text-align: center;
  margin: 1px 0;
  padding: 0;
}
.theme_common_navi ul {
  display: block;
  margin: 0;
  padding: 0;
}
.theme_common_navi ul li {
  display: block;
  margin: 1px 0;
  padding: 0;
  list-style-type: none;
}
.theme_common_navi ul ul a {
  padding-left: 25px;
  background-color: #f5f5f5;
  font-size: small;
}
.theme_common_navi ul ul ul a {
  padding-left: 40px;
  background-color: #fefefe;
  font-size: small;
}
/**
 * パンくず
 */
.theme_breadcrumb {
  margin: 0 0;
}
.theme_breadcrumb ul, .theme_breadcrumb ul li {
  display: inline;
  padding: 0 0.3em 0 0;
  font-size: small;
}
.theme_breadcrumb ul li:after {
  content: ">";
  margin: 0 0.3em;
}
.theme_breadcrumb ul li:last-child:after {
  content: "";
  margin: 0;
}
.theme_breadcrumb ul li span {
  font-weight: bold;
}
/**
 * フッター
 */
.theme_footer {
  padding: 1em 0 0.5em 0;
}
/**
 * メガフッターメニュー
 */
.theme_megafooter_navi {
  margin: 0 auto 1em auto;
  zoom: 1;
}
.theme_megafooter_navi:after {
  content: " ";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}
.theme_megafooter_navi ul {
  margin: 0;
  padding: 0;
}
.theme_megafooter_navi ul li {
  margin: 0 1px;
  padding: 0;
  list-style-type: none;
  float: left;
  display: block;
}
.theme_megafooter_navi ul li ul li {
  display: block;
  float: none;
  font-size: 80%;
}
.theme_megafooter_navi ul li a {
  padding: 0.5em 2em;
  display: block;
  font-weight: bold;
}
.theme_megafooter_navi ul li ul li a {
  padding-left: 4em;
  font-weight: normal;
}
/**
 * ショルダーメニュー(フッター)
 */
.theme_footer_shouldernavi ul {
  margin: 0.5em;
  padding: 0;
  text-align: center;
}
.theme_footer_shouldernavi ul li {
  margin: 0 1em;
  padding: 0;
  list-style-type: none;
  display: inline;
}
/**
 * .anchor_links
 */
.anchor_links {
  margin: 2em 7%;
}
