@charset 'UTF-8';

html, body{
	font-size: medium;
	font-family: Meiryo, "Hiragino Kaku Gothic ProN", Verdana, sans-serif;
}
.current{
	font-weight: bold;
}
.contents{
<?php include(__DIR__.'/normalize/normalize-3.0.1.css'); ?>
	p, ul, ol, dl{
		margin: 1em 0;
	}
	dl dd {
		margin-left: 2em;
	}
	body, p, li, dt, dd{
		line-height: 1.6;
	}
<?php include(__DIR__.'/fess/fess-1.2.0.css'); ?>
}
