<phpunit>
	<testsuites>
		<testsuite name="default">
			<file>./tests/mainTest.php</file>
			<file>./tests/picklesTest.php</file>
			<file>./tests/headerTest.php</file>
			<file>./tests/encodingConverterTest.php</file>
			<file>./tests/autoindexTest.php</file>
			<file>./tests/scssTest.php</file>
			<file>./tests/prevnextTest.php</file>
			<file>./tests/apiTest.php</file>
			<file>./tests/apiBeforeSitemapTest.php</file>
			<file>./tests/configTest.php</file>
			<file>./tests/publishTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
